@import "~normalize.css";
@import "./variables.scss";

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow-y: overlay;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #fff;
	background-color: $jz-gray;
}

a {
	color: #fff;
}

body > div {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas:
		"nav  nav    nav"
		"left main   right"
		"footer footer footer";
	grid-template-rows: $header-height 1fr 4rem;
	grid-template-columns: $grid-columns;

	@include tablet {
		grid-template-columns: 0 100% 0;
	}
}
