$header-height: 3rem;
$max-width: 60rem;
$grid-columns: auto $max-width auto;

$jz-red: #a61e32;
$jz-yellow: #f7ae1a;
$jz-gray: #2f2f2f;

$color-main: #108EE9;

@mixin tablet {
	@media (max-width: $max-width) {
		@content;
	}
}
