:root {
  --header-height: 3rem;
  --max-width: 60rem;
  --grid-columns: auto var(--max-width) auto;
  --color-darker: #2B332F;
  --color-dark: #325643;
  --color: #28784D;
  --color-light: #0C9B4E;
  --color-lighter: #00C059;

  --color-main: #108EE9;
}

@custom-media --medium (width < 60rem);