$header-height: 3rem;
$max-width: 60rem;
$grid-columns: auto $max-width auto;
$main-color: #444;
$background-color: #fff;

$color-main: #108EE9;

@mixin tablet {
	@media (max-width: $max-width) {
		@content;
	}
}
