@import 'styles/main.scss';
@import "~styles/_variables.scss";

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	background-color: $primary-color;
}

nav, main, footer span {
	padding: 0 20px;
}