@import "~styles/variables.scss";

#root {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas:
		"nav  nav    nav"
		"left main   right"
		"left footer right";
	grid-template-rows: $header-height 1fr 4rem;
	grid-template-columns: $grid-columns;

	@include tablet {
		grid-template-columns: 0 100% 0;
	}
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}

nav, main, footer {
	padding: 0 20px;
}