@import "styles/variables.scss";

.tracker {
	table {
		border: 1px solid $main-color;
		border-collapse: collapse;
		width: 100%;

		td, th {
			padding: 0.5em;
			border: 1px solid $main-color;
		}
	}
}
