@import "~styles/_variables.scss";

.session {
	font-size: 1.5rem;
	display: block;
	background: $primary-color;
	color: $secondary-color;
	padding: 1rem;
	margin-bottom: 1rem;
	text-decoration: none;
}
