@import "~styles/_variables.scss";

header {
	grid-area: nav;
	background-color: $logo-red;

	display: grid;
	@include grid-columns;

	nav {
		grid-column: 2 / 3;

		ul {
			list-style: none;
			line-height:  $header-height;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				&:not(:last-child)::after {
					content: "|";
					margin: 0.3rem;
				}

				a {
					text-decoration: none;
					font-size: 1.2rem;
				}
			}
		}
	}
}
