@import "~styles/_variables.scss";

footer {
	display: none; // TODO: Make header not look awful
	// display: grid;
	@include grid-columns;

	color: $secondary-color;

	span {
		grid-column: 2 / 3;
	}

}